version: "3.2"

services:
  reference-data-api:
    image: reference-data-api
    build:
      context: .
      dockerfile: ReferenceDataApi/Dockerfile
      args:
        - LBHPACKAGESTOKEN=${LBHPACKAGESTOKEN}
    environment:
      - ElasticSearchDomainUrl=http://reference-data-elasticsearch:9200
    networks:
      - elastic
    ports:
      - 3000:3000
    depends_on:
      - reference-data-elasticsearch

  reference-data-api-test:
    image: reference-data-api-test
    build:
      context: .
      dockerfile: ReferenceDataApi.Tests/Dockerfile
      args:
        - LBHPACKAGESTOKEN=${LBHPACKAGESTOKEN}
        - SONAR_TOKEN=${SONAR_TOKEN}
    environment:
      - ElasticSearchDomainUrl=http://reference-data-elasticsearch:9200
    networks:
      - elastic
    depends_on:
      reference-data-elasticsearch:
        condition: service_healthy

  reference-data-elasticsearch:
    image: reference-data-elasticsearch
    container_name: reference-data-elasticsearch
    build:
      context: .
      dockerfile: data/elasticsearch/Dockerfile
    environment:
      - xpack.security.enabled=false
      - discovery.type=single-node
      - bootstrap.memory_lock=true
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ports:
      - 9200:9200
      - 9300:9300
    volumes:
      - reference-data-esdata-test:/usr/share/elasticsearch/data
    networks:
      - elastic
    healthcheck:
      test: [ "CMD-SHELL", "curl -s http://localhost:9200/_cluster/health | grep -q '\"status\":\"green\"\\|\"status\":\"yellow\"'" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 20s
  #kibana:
  #  image: docker.elastic.co/kibana/kibana:7.9.3
  #  ports:
  #      - "5601:5601"
  #  networks:
  #      - elastic
  #  depends_on:
  #      - reference-data-elasticsearch

volumes:
  reference-data-esdata-test:
    driver: local

networks:
  elastic:
    driver: bridge
